<footer class="border-top footer text-muted">

    <div class="container mt-2">
        &copy; 2023 - Company Management. Project by Roman Bylo, student SPU-011 IT Step Academy. Ivano-Frankivsk, Ukraine.
    </div>
    
</footer>